*.log
nuxt.d.ts

# private config
.env

# deps
node_modules

# build or generate
.nuxt
dist
.output

# IDE
.idea
.vercel
.vscode
.editorconfig
.stackblitzrc
.prettierrc
.eslintrc
.eslintignore
pnpm-lock.yaml
package-lock.json
yarn.lock

# jsDocs
jsDocs

# Buildt
.buildt

# Batch
run.bat
run